{% extends 'ats/base.html' %}

{% block content %}
    {{ dep.name }} - cписок обслуживаемых районов:
    <ul>
        {% for lst in list_area %}
            {% if not forloop.last %}
                <li><a href="{{ lst.get_absolute_url }}">{{ lst.name }}</a></li>
            {% else %}
                <li class="last"><a href="{{ lst.get_absolute_url }}">{{ lst.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <a href="{% url 'add_area' dep_slug=dep.slug %}"><button class="btn btn-info rounded-pill px-3" type="button">Добавить новый район</button></a>
{% endblock %}


