{% extends 'ats/ats_lst.html' %}

{% block ats %}
    состояние на АТС {{ at.name }}:
    <ul>
        <h4>Направление КЛС:</h4>
        {% for lst in list_cable %}
            {% if lst.passport %}
            <li>{{ lst.direction }} <a href="{{ lst.passport.url }}" target="_blank" title="Открыть паспорт в новом окне">{{ lst.direction }}</a></li>
            {% else %}
                <li>{{ lst.direction }}</li>
            {% endif %}
            <a href="{% url 'edit_cable' cable_slug=lst.slug %}">Изменить</a> |
            <a href="{% url 'delete_cable' cable_slug=lst.slug %}">Удалить</a>
        {% endfor %}
        <h4>Кроссы на АТС:</h4>
        {% for lst in list_cross %}
            {% if lst.photo_cross and lst.photo_insert %}
            <li>{{ lst }} <a href="{{ lst.photo_cross.url }}" target="_blank"> <img src="{{ lst.photo_cross.url }}" width="50px"></a>
                <a href="{{ lst.photo_insert.url }}" target="_blank"><img src="{{ lst.photo_insert.url }}" width="50px"></a></li>
                {% elif lst.photo_cross %}
                <li>{{ lst }} <a href="{{ lst.photo_cross.url }}" target="_blank"><img src="{{ lst.photo_cross.url }}" width="50px"></a></li>
                {% elif lst.photo_insert %}
                <li>{{ lst }} <a href="{{ lst.photo_insert.url }}" target="_blank"><img src="{{ lst.photo_insert.url }}" width="50px"></a></li>
            {% else %}
                <li>{{ lst }}</li>
            {% endif %}
            <a href="{% url 'edit_cross' cross_slug=lst.slug %}">Изменить</a> |
            <a href="{% url 'delete_cross' cross_slug=lst.slug %}">Удалить</a>
        {% endfor %}
        <h4>примечания на АТС {{ at.name }}:</h4>
        {% for lst in list_note %}
            <li>{{ lst }}</li>
            <a href="{% url 'edit_note' note_id=lst.pk %}">Изменить</a> |
            <a href="{% url 'delete_note' note_id=lst.pk %}">Удалить</a>
        {% endfor %}
    </ul>
    <form action="{% url 'ats_room' ats_slug=at.slug %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Форма добавления КЛС</h3>
        <h4>Добавьте КЛС</h4>
        {{ form_cable.as_p }}
        <button type="submit">Добавить</button>
        <br>
    </form>
    <form action="{% url 'ats_room' ats_slug=at.slug %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Форма добавления кросса</h3>
        <h4>Добавьте кросс</h4>
        {{ form_cross.as_p }}
        <button type="submit">Добавить</button>
    </form>
    <form action="{% url 'ats_room' ats_slug=at.slug %}" method="post">
        {% csrf_token %}
        <h4>Добавьте примечание</h4>
        {{ form_note.as_p }}
        <button type="submit">Добавить</button>
    </form>
{% endblock %}