{% extends 'ats/base.html' %}

{% block content %}
    {% block ats_lst %}
        {{ ar.name }} район - cписок обслуживаемых АТС:
        <ul>
            {% for lst in page_obj %}
                {% if not forloop.last %}
                    <li><a href="{{ lst.get_absolute_url }}">{{ lst.name }}</a></li>
                    <a href="{% url 'edit_ats' ats_slug=lst.slug %}">Изменить</a> |
                    <a href="{% url 'delete_ats' ats_slug=lst.slug %}">Удалить</a>
                {% else %}
                    <li class="last"><a href="{{ lst.get_absolute_url }}">{{ lst.name }}</a></li>
                    <a href="{% url 'edit_ats' ats_slug=lst.slug %}">Изменить</a> |
                    <a href="{% url 'delete_ats' ats_slug=lst.slug %}">Удалить</a>
                {% endif %}
            {% endfor %}
        </ul>
        <nav>
            <ul>
                {% for p in page_obj.paginator.page_range %}
                    <li>
                        <a href="?page={{ p }}">{{ p }}</a>Страница пагинации
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endblock %}

    {% block addats %}
        <a href="{% url 'add_ats' area_slug=ar.slug %}">Добавить АТС</a>
    {% endblock %}
    {% block ats %}
    {% endblock %}
{% endblock %}